<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
</head>
<body>
    {% load bootstrap4 %}
    {% bootstrap_css %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'post' %}">Posts</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'get_pic' %}">Upload <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'delete_pic' %}">Delete</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'put_pic' %}">Check pictures</a>
          </li>
        </ul>
      </div>
    </nav>

    {% block content %}
    {% endblock %}

</body>
</html>

